@use '../custom' as *;
@use '../components/mixins' as *;

.btn-rounded{
    @include media-breakpoint-down(sm){
        display: none;
    }
    position: relative;
    padding : 0.9375rem 2.5rem 0.9375rem 1.2rem;
    font-weight: 800;
    margin: 0;
    border : 0.1rem soild rgba($white,0.8);
    background-color: $white;
    transition: all 0.3s linear;
    span{
        position: absolute;
        background-color: $green;
        width: 2rem;
        height: 2rem;
        top : 50%;
        right: 5px;
        transform: translateY(-50%) ;
        border-radius: 50%;

    }
    i{
        color: $white;
        font-size: 1rem;
        line-height: 2rem;
    }
    &:hover{
        @include gradient;
        color: $white;
        span{
            background-color: red;
        }
    }
}